##functions

In [ ]:
def function1():
  pass

In [ ]:
def addition(a,b,c):
  return a+b+c

In [ ]:
addition(34,54,45)

133

In [ ]:
addition(34,54)

TypeError: ignored

In [ ]:
def addition(a,b,c):
  return a+b+c
  return a+b    #multiple return statements only the first one executes

In [ ]:
addition(34,54,53)

141

In [ ]:
def multiplication(n1,n2,n3):
  """thiss function multiplies 3 numbers"""
  print('the multiplcation ',n1*n2*n3)

In [ ]:
multiplication(34,322,34)

the multiplcation  372232

In [ ]:
help(C)

Help on function multiplication in module __main__:

multiplication(n1, n2, n3)
    thiss function multiplies 3 numbers

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
multiplication.__doc__

'thiss function multiplies 3 numbers'

##arbitary argumenrs

In [ ]:
def function2(*args):
  print(args)

In [ ]:
function2('djfh','hbfh')

('djfh', 'hbfh')

##arbitary keyword arguments

In [ ]:
def function3(**kwargs):
  print(kwargs)

In [ ]:
function3(name='vanshika',age=57,roll_no=56)

{'name': 'vanshika', 'age': 57, 'roll_no': 56}

In [ ]:
def function4(name,age,roll_no):
  print(name, age, roll_no)

In [ ]:
function4(name='vanshika',roll_no=45,age=57)

vanshika 57 45