In [2]:
import pandas as pd
df=pd.read_csv('cereal.csv')
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
import statistics

In [4]:
statistics.mean(df['fiber'])

2.151948051948052

In [5]:
df['fiber'].mean()

2.1519480519480516

In [6]:
statistics.median(df['potass'])

90

In [7]:
df['potass'].median()

90.0

In [8]:
df['mfr'].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [9]:
statistics.mode(df['mfr'])

'K'

In [10]:
df['mfr'].mode()

0    K
Name: mfr, dtype: object