In [1]:
import pandas as pd

##What is the availability of rooms in different cities can be analyzed using Probability.
1.The probability of finding a room in each of the available cities?

2.The Probability of finding a room either in Boston or Hawaii.

In [2]:
air = pd.read_csv("airbnb_data.csv")
air.head()

,id,name,room_type,price,minimum_nights,number_of_reviews,city
0,3781,HARBORSIDE-Walk to subway,Apartment,146,28,16,Boston
1,5506,**$49 Special ** Private! Minutes to center!,Apartment,145,3,107,Boston
2,6695,$99 Special!! Home Away! Condo,Apartment,169,3,115,Boston
3,10730,Bright 1bed facing Golden Dome,Apartment,85,91,32,Boston
4,10813,"Back Bay Apt-blocks to subway, Newbury St, The...",Apartment,87,28,10,Boston

In [8]:
air.shape

(32348, 7)

In [9]:
ss=32348

In [10]:
air['city'].value_counts()

Hawaii     22434
Seattle     6575
Boston      3339
Name: city, dtype: int64

In [11]:
air['room_type'].value_counts()

Apartment    27241
Private       4660
HotelRoom      272
Shared         175
Name: room_type, dtype: int64

In [12]:
#boston

In [13]:
#lambda
square=lambda x: x**2
print(square(4))

16

In [16]:
boston=air.apply(lambda x:True if x['city']=='Boston' else False,axis=1)

In [19]:
bos=len(boston[boston==True].index)

In [20]:
p_bos=round(bos/ss,3)

In [21]:
p_bos

0.103

In [22]:
#hawaii
p_haw=round(22434/ss,3)

In [23]:
p_haw

0.694

In [24]:
#seattle
p_sea=round(6575/ss,3)

In [25]:
p_sea

0.203

In [26]:
p_sea+p_haw+p_bos

1.0

In [ ]:
#these three events are mutually exculsive;
#the sum of all prob. is equal to 1

In [27]:
#either in hawaii or in boston
p_bos+p_haw

0.7969999999999999