In [1]:
import pandas as pd

In [2]:
air = pd.read_csv("airbnb_data.csv")
air.head()

,id,name,room_type,price,minimum_nights,number_of_reviews,city
0,3781,HARBORSIDE-Walk to subway,Apartment,146,28,16,Boston
1,5506,**$49 Special ** Private! Minutes to center!,Apartment,145,3,107,Boston
2,6695,$99 Special!! Home Away! Condo,Apartment,169,3,115,Boston
3,10730,Bright 1bed facing Golden Dome,Apartment,85,91,32,Boston
4,10813,"Back Bay Apt-blocks to subway, Newbury St, The...",Apartment,87,28,10,Boston

##Problem Statement:

A customer is planning to go to Seattle and wants to know which type of room has the highest chance of being available in Seattle.

Hint: "Finding a room of a specific type given that it is in Seattle" is Dependent on the event of "Finding a room in Seattle".


Also: calculate the probability of "Finding an Apartment in Seattle" using the formula of Conditional Probability

In [60]:
df=pd.DataFrame({'count':air.groupby(['city','room_type']).size()}).reset_index()

In [61]:
df[df['city']=='Seattle']

       city  room_type  count
8   Seattle  Apartment   5028
9   Seattle  HotelRoom     51
10  Seattle    Private   1399
11  Seattle     Shared     97

In [63]:
#probability of getting an apartment
ss=df[df['city']=='Seattle']['count'].sum()

In [64]:
ss

6575

In [65]:
p_apt=round(5028/ss,3)

In [66]:
p_apt

0.765

In [67]:
#hotel room
p_hotel=round(51/ss,3)

In [68]:
p_hotel

0.008

In [69]:
p_pvt=round(1399/ss,3)

In [70]:
p_pvt

0.213

In [71]:
p_shared=round(97/ss,3)

In [72]:
p_shared

0.015

In [73]:
#prob. of getting an apartment is the highest
p_sea=0.203

In [74]:
air['city'].value_counts()

Hawaii     22434
Seattle     6575
Boston      3339
Name: city, dtype: int64

In [75]:
air.shape

(32348, 7)

In [76]:
ss=32348

In [77]:
p_sea=round(6575/ss,3)

In [78]:
p_sea   #previous knowledge

0.203

In [79]:
p_apt

0.765

In [81]:
round(p_apt*p_sea,3)

0.155

In [ ]:
#prob. finf=ding an apt. in seattle is .155