In [1]:
import pandas as pd

In [2]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
fruits=['apple','mango','cherries','bananas']
pd.Series(fruits)

0       apple
1       mango
2    cherries
3     bananas
dtype: object

In [8]:
fruits=pd.Series(fruits,index=['a','b','c','d'])

In [5]:
import numpy as np

In [6]:
arr=np.arange(5)

In [7]:
pd.Series(arr,index=[11,22,33,44,55])

11    0
22    1
33    2
44    3
55    4
dtype: int64

In [9]:
#indexing
fruits

a       apple
b       mango
c    cherries
d     bananas
dtype: object

In [13]:
fruits['b']

'mango'

In [11]:
fruits['c']='litchi'

In [12]:
fruits

a      apple
b      mango
c     litchi
d    bananas
dtype: object

In [14]:
#dictionary
dict1={1:'red',2:'blue',3:'orange'}

In [15]:
pd.Series(dict1)

1       red
2      blue
3    orange
dtype: object

In [16]:
#attributes

In [17]:
fruits

a      apple
b      mango
c     litchi
d    bananas
dtype: object

In [18]:
fruits.shape

(4,)

In [20]:
fruits.size

4

In [21]:
fruits.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [22]:
fruits.values

array(['apple', 'mango', 'litchi', 'bananas'], dtype=object)

##dataframes

In [23]:
fruits=['apple', 'mango', 'litchi', 'bananas']

In [24]:
pd.DataFrame(fruits)

         0
0    apple
1    mango
2   litchi
3  bananas

In [26]:
arr=np.arange(16).reshape(4,4)

In [27]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [30]:
pd.DataFrame(arr,columns=['a','b','c','d'],index=[11,22,33,44])

     a   b   c   d
11   0   1   2   3
22   4   5   6   7
33   8   9  10  11
44  12  13  14  15