##grouping data

In [2]:
import pandas as pd
df=pd.read_csv('/content/friends_episodes_v2.csv')
df.head()

,Year_of_prod,Season,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,4888
1,1994,1,The One with the Thumb,22,Monica becomes irritated when everyone likes h...,James Burrows,8.2,4605
2,1994,1,The One with George Stephanopoulos,22,Joey and Chandler take Ross to a hockey game t...,James Burrows,8.1,4468
3,1994,1,The One with the East German Laundry Detergent,22,"Eager to spend time with Rachel, Ross pretends...",Pamela Fryman,8.5,4438
4,1994,1,The One with the Butt,22,Monica's obsessiveness is put to the test afte...,Arlene Sanford,8.1,4274

In [7]:
df.groupby('Director').groups

{'Alan Myerson': [11, 13], 'Andrew Tsao': [111], 'Arlene Sanford': [4], 'Ben Weiss': [138, 158, 181, 184, 196, 201, 204, 214, 218, 222], 'Dana De Vally Piazza': [84, 100, 105], 'David Schwimmer': [125, 148, 151, 153, 160, 170, 176, 180, 197, 225], 'David Steinberg': [82], 'Ellen Gittelsohn': [27], 'Gail Mancuso': [19, 26, 28, 47, 48, 53, 54, 75, 76, 89, 91, 108, 114, 121], 'Gary Halvorson': [81, 97, 101, 102, 104, 115, 116, 117, 122, 123, 124, 126, 127, 131, 132, 136, 137, 141, 142, 147, 149, 150, 154, 155, 162, 163, 164, 165, 173, 174, 177, 179, 185, 186, 187, 189, 190, 199, 203, 205, 206, 207, 208, 209, 210, 213, 219, 220, 224, 226, 229, 230, 231, 232], 'James Burrows': [0, 1, 2, 5, 6, 7, 9, 12, 16, 21, 36, 61, 62, 86], 'Joe Regalbuto': [106], 'Kevin Bright': [22, 25, 31, 49, 55, 78, 83, 90, 94, 95, 96, 98, 103, 107, 110, 118, 119, 120, 128, 129, 130, 133, 139, 143, 144, 145, 152, 156, 159, 161, 166, 167, 168, 169, 172, 175, 178, 182, 183, 188, 191, 192, 193, 198, 200, 202, 215, 216, 217, 223, 227, 228, 233, 234], 'Mary Kay Place': [30], 'Michael Lembeck': [14, 15, 23, 24, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 67, 87, 88, 109, 134, 135, 140, 146], 'Pamela Fryman': [3, 71], 'Paul Lazarus': [10], 'Peter Bonerz': [8, 17, 18, 29, 52, 68, 74, 79, 80, 85, 92, 93], 'Robby Benson': [20, 58, 59, 60, 64, 70], 'Roger Christiansen': [195, 221], 'Sam Simon': [63], 'Sheldon Epps': [171, 194, 212], 'Shelley Jensen': [69, 72, 73, 77, 99, 112], 'Stephen Prime': [157], 'Steve Zuckerman': [50, 51], 'Terry Hughes': [56, 57, 65, 66, 211], 'Thomas Schlamme': [32, 33], 'Todd Holland': [113]}

In [ ]:
df.groupby('Director').first()

In [9]:
##aggregation
df.groupby('Director')['Stars'].mean()

Director
Alan Myerson            8.450000
Andrew Tsao             8.600000
Arlene Sanford          8.100000
Ben Weiss               8.300000
Dana De Vally Piazza    8.400000
David Schwimmer         8.540000
David Steinberg         8.500000
Ellen Gittelsohn        8.300000
Gail Mancuso            8.357143
Gary Halvorson          8.401852
James Burrows           8.514286
Joe Regalbuto           9.100000
Kevin Bright            8.646296
Mary Kay Place          8.500000
Michael Lembeck         8.520833
Pamela Fryman           8.700000
Paul Lazarus            8.200000
Peter Bonerz            8.325000
Robby Benson            8.183333
Roger Christiansen      8.200000
Sam Simon               8.300000
Sheldon Epps            8.466667
Shelley Jensen          8.433333
Stephen Prime           8.400000
Steve Zuckerman         8.100000
Terry Hughes            8.220000
Thomas Schlamme         8.050000
Todd Holland            8.000000
Name: Stars, dtype: float64

In [12]:
df.groupby(['Director','Season'])['Stars'].mean()

Director         Season
Alan Myerson     1         8.45
Andrew Tsao      5         8.60
Arlene Sanford   1         8.10
Ben Weiss        6         8.30
                 7         8.60
                           ...
Steve Zuckerman  3         8.10
Terry Hughes     3         8.25
                 9         8.10
Thomas Schlamme  2         8.05
Todd Holland     5         8.00
Name: Stars, Length: 76, dtype: float64